@import url('https://fonts.googleapis.com/css2?family=Inter&family=Permanent+Marker&display=swap');


* {
    padding:0;
    margin:0;
}

body {
    background-color: rgba(215, 217, 217, 0.586);
    padding: 1rem;
    color: rgb(42, 39, 39);
    font-family: 'Inter', sans-serif;
}

nav {
    margin: 2rem auto 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 1000px;
}

section {
    background-color: #ffffff;
    border: rgb(42, 39, 39) 1.5px solid;
    border-radius: 1rem;

    margin: 2rem auto 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 1000px;
    /* equivalent to the margin above
    margin: 2rem;
    margin-inline: auto; */
}

h1{
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Permanent Marker', cursive;

}

.image {
    max-width: 100%;
    border-radius: 40% 20% 30% 0%;
}


/* play around with this to center things */
.gradient {
    margin: 0 auto;
    display: block;
}

