@import url('https://fonts.googleapis.com/css2?family=Inter&family=Permanent+Marker&display=swap');


* {
    padding:0;
    margin:0;
}

body {
    background-color: rgba(215, 217, 217, 0.586);
    padding: 1rem;
    color: rgb(42, 39, 39);
    font-family: 'Inter', sans-serif;
}

nav {
    margin: 2rem auto 2rem auto;
    padding: 2rem;
    width: 60%;
    max-width: 1000px;
}

section {
    background-color: #ffffff;
    border: rgb(42, 39, 39) 1.5px solid;
    border-radius: 1rem;

    margin: 2rem auto 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 1000px;
    /* equivalent to the margin above
    margin: 2rem;
    margin-inline: auto; */
}

footer {
    margin: 2rem auto 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

ol {
    padding: 2rem;
}

li {
    padding: 0 1rem 0 1rem;
}

ul {
    list-style: "→" outside none;
    padding: 0 1rem 0 1rem;
}

h1 {
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Permanent Marker', cursive;
}

.image {
    width: 80%;
    min-width: 100px;
    margin: 2rem auto 0 auto;
    display: block;
    border-radius: 1rem;
}

.route-profile {
    width:90%;
    height:400px;
    margin: 2rem auto 0 auto;
    display: block;
}

.video {
    width:500px;
    height:315px;
    max-width:100%;
    
    /* used to center elements: */
    margin: 2rem auto 0 auto;
    display: block;
}

.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}